* {
    font-family: Arial, Helvetica, sans-serif;
}

main{
    margin-top: 120px;
}

.container{
    width: 900px;
    margin: auto;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hello{
    color: darkorchid;
    padding: 10px;
    border: 2px solid darkorchid;
    border-radius: 100px;
}